@import url('https://fonts.googleapis.com/css?family=Viaoda+Libre&display=swap');
@import url('https://fonts.googleapis.com/css?family=Exo+2&display=swap');
@import url('https://fonts.googleapis.com/css?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css?family=Sen&display=swap');
* {
    padding: 0;
    margin: 0;
}

:root {
    --black: #131313;
    --white: #f1f1f1;
    --grey: #151515;
    --red: #D93030;
    --green: #34EEA0;
}

.body-wrap {
    width: 100%;
    height: 100vh;
}

.side-nav {
    position: fixed;
    left: 0;
    width: 100px;
    height: 100%;
    background-color: #f1f1f1;
    -webkit-box-shadow: 2px 0px 4px -1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 2px 0px 4px -1px rgba(0, 0, 0, 0.1);
    box-shadow: 2px 0px 4px -1px rgba(0, 0, 0, 0.1);
}

.main-content {
    width: 100%;
    height: 100%;
}

.margin-fix {
    height: 100%;
    margin-left: 100px;
    background-color: #fff;
    padding: 40px;
}

h1 {
    margin: 0;
    font-family: 'Sen', sans-serif;
}

.user-image-wrap {
    width: 100%;
    height: 90px;
    margin-bottom: 10px;
}

.user-image {
    width: 100%;
    height: 100%;
    background-image: url(../images/dashboard-img/model.jpg);
    background-position: center;
    background-size: cover;
}

nav button {
    padding: 20px;
    background-color: transparent;
    border: none;
    width: 100px;
    margin-top: 10px;
}

nav button img {
    pointer-events: none;
    opacity: .5;
}

.nav-item:hover {
    border-right: solid #34EEA0;
}

.logout:hover {
    border-right: solid #ff5252;
}

button.logout {
    position: absolute;
    bottom: 20px;
    width: 100px;
    padding: 20px;
    background-color: transparent;
    border: none;
    opacity: .5;
}

.box {
    height: 35vh;
    /* background-color: black; */
    padding: 10px;
}

.box1 {
    height: 100%;
    background-color: var(--green);
    border-radius: 20px;
    padding: 15px 30px 15px 30px;
}

.box2 {
    height: 100%;
    background-color: var(--white);
    border-radius: 20px;
    padding: 15px 30px 15px 30px;
}

.box3 {
    height: 100%;
    background-color: var(--white);
    border-radius: 20px;
    padding: 15px 30px 15px 30px;
}

.accDetailsBox {
    height: 30vh;
    padding: 0 20px 0 20px;
}

.accDetails {
    height: 100%;
    background-color: var(--white);
    padding: 15px 20px 15px 20px;
    border-radius: 20px;
}

.topBar {
    padding: 0 0 10px 20px;
    border-bottom: 2px solid var(--white);
}

.paymentMethod {
    border-radius: 20px;
    background-color: var(--green);
    height: 80px;
    width: 80px;
    border: none;
    transition-duration: 1s;
}

.paymentMethod:hover {
    transform: scale(1.1);
}

.addExpense {
    height: 10vh;
    background-color: var(--green);
    border-radius: 20px;
    width: 100%;
    border: none;
    /* color: white; */
    font-size: 1.3em;
    font-weight: bolder;
    transition-duration: 0.5s;
}

.addExpense:hover {
    transform: scale(1.04);
}


/* .addExpBtn {
    padding: 20px 0 20px 25px;
} */

.add {
    color: #fff;
}

.addText {
    font-size: 1.5em;
    font-weight: bolder;
}