@import url('https://fonts.googleapis.com/css?family=Viaoda+Libre&display=swap');
@import url('https://fonts.googleapis.com/css?family=Exo+2&display=swap');
@import url('https://fonts.googleapis.com/css?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css?family=Sen&display=swap');
@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Changa&display=swap');

/*    font-family: 'Open Sans', sans-serif;*/


/*    font-family: 'Comfortaa', cursive;*/

* {
    padding: 0;
    margin: 0;
}

:root {
    --black: #131313;
    --white: #f1f1f1;
    --grey: #151515;
    --red: #D93030;
    --green: #34EEA0;
}

.body-wrap {
    width: 100%;
    height: 100vh;
}

.side-nav {
    position: fixed;
    left: 0;
    width: 100px;
    height: 100%;
    background-color: #f1f1f1;
    -webkit-box-shadow: 2px 0px 4px -1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 2px 0px 4px -1px rgba(0, 0, 0, 0.1);
    box-shadow: 2px 0px 4px -1px rgba(0, 0, 0, 0.1);
}

.main-content {
    width: 100%;
    height: 100%;
}

.margin-fix {
    height: 100%;
    margin-left: 100px;
    background-color: #fff;
    padding: 40px;
}

h1 {
    margin: 0;
    font-family: 'Sen', sans-serif;
}

.nav-logo-wrap {
    width: 100%;
    height: 90px;
    margin-bottom: 10px;
}

.nav-logo {
    width: 100%;
    height: 100%;
    background-image: url(../images/dashboard-img/black.png);
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
}

nav button {
    padding: 20px;
    background-color: transparent;
    border: none;
    width: 100px;
    margin-top: 10px;
}

nav button img {
    pointer-events: none;
    opacity: .5;
}

nav button.active {
    border-right: 3px solid var(--green);
}

.nav-item:hover {
    border-right: solid #34EEA0;
}

.logout:hover {
    border-right: solid #ff5252;
}

button.logout {
    position: absolute;
    bottom: 20px;
    width: 100px;
    padding: 20px;
    background-color: transparent;
    border: none;
    opacity: .5;
}

.table {
    border: 1px solid #dfdfdf;
}

td {
    /*    font-family: 'Changa', sans-serif;*/
    font-family: 'Open Sans', sans-serif;
    /*    font-family: 'Comfortaa', cursive;*/
    color: grey;
}

.description {
    text-transform: capitalize;
    color: black;
    font-weight: 700;
}

.h6-heading {
    font-size: 1.2em;
    text-transform: capitalize;
    text-align: center;
}

p.total-summary {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.box {
    height: 35vh;
    /* background-color: black; */
    padding: 10px;
    font-family: 'Sen', sans-serif;
}

.box1 {

    background-color: var(--white);
    border-radius: 20px;
    padding: 15px 30px 15px 30px;
}

.box2 {
    height: 100%;
    background-color: var(--white);
    border-radius: 20px;
    padding: 15px 30px 15px 30px;
}

.box3 {
    height: 100%;
    background-color: var(--white);
    border-radius: 20px;
    padding: 10px;
    overflow-x: scroll;
}

.accDetailsBox {
    height: 30vh;
    padding: 0 20px 0 20px;
}

.accDetails {
    font-family: 'Sen', sans-serif;
    height: 100%;
    background-color: var(--white);
    padding: 15px 20px 15px 20px;
    border-radius: 20px;
}

.topBar {
    padding: 0 0 10px 20px;
    border-bottom: 2px solid var(--white);
}


/* .paymentMethod {
    border-radius: 20px;
    background-color: var(--green);
    height: 100%;
    width: 100%;
    border: none;
    transition-duration: 0.4s;
}

.paymentMethod:hover {
    transform: scale(1.02);
} */

.addExpense {
    height: 60px;
    background-color: var(--green);
    border: none;
    border-radius: 20px;
    width: 100%;
    /* color: white; */
    font-size: 1.3em;
    /*    font-weight: bolder;*/
    transition-duration: 0.3s;
    font-family: 'Changa', sans-serif;
    outline: none;
}

.addExpense:focus {
    outline: none;
}

.addExpense:hover {
    transform: scale(1.04);
}


/* .addExpBtn {
    padding: 20px 0 20px 25px;
} */

.add {
    color: #fff;
}

.addText {
    font-size: 1.5em;
    font-weight: bolder;
}

.see-all {
    font-family: 'Open Sans', sans-serif;
    text-transform: capitalize;
}

.expense-form {
    z-index: 1000;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 400px;
    transform: translate(-50%, -50%);
    text-align: center;
    visibility: visible;
    background-color: whitesmoke;
    margin-bottom: 30px;
    border-radius: 20px;
    transition: .3s;
    padding: 50px;
    display: none;
}

.bg-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, .6);
    z-index: 1;
    display: none;
}

@supports ((-webkit-backdrop-filter: blur(6px)) or (backdrop-filter: blur(6px))) {
    .bg-overlay {
        -webkit-backdrop-filter: blur(6px);
        backdrop-filter: blur(6px);
    }
}

.show {
    display: block;
}

.hide {
    display: none;
}

.expense-form input[type="text"],
input[type="submit"] {
    text-transform: capitalize;
    padding: 10px;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid #dfdfdf;
    outline: none;
    font-size: 1.3em;
    font-family: 'Open Sans', sans-serif;
}

input[type="submit"] {
    background-color: var(--green);
    font-family: 'Changa', sans-serif;
}

.expense-form button {
    border: none;
    background-color: transparent;
    font-size: 1.1em;
    cursor: pointer;
    outline: none;
    margin-top: 10px;
    font-family: 'Open Sans', sans-serif;
}

.card-wrap {
    width: 300px;
    height: 150px;
    position: relative;
    margin-top: 20px;
    left: 50%;
    transform: translateX(-50%);
    box-sizing: border-box;
}

.credit-card {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: burlywood;
    display: none;
}

.box2 .table,
.box3 .table {
    border: none;
}

.center-table {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

.total-expense {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.expense-amount {
    color: grey;
}


/*  Table */

.date {
    /* color: #929292; */
    font-weight: normal;
}

.amount {
    color: #000;
    font-weight: 900;
}

.myChart{
    width: 300px;
    margin: auto;
}